@model EducationApp.ViewModels.AccountViewModels.RegisterViewModels
@{
    ViewData["Title"] = "Регистрация";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center"><h3>@ViewData["Title"]</h3></div>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <input asp-for="Email" placeholder="E-mail" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="LastName" placeholder="Фамилия" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="FirstName" placeholder="Имя" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Password" placeholder="Пароль" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="PasswordConfirm" placeholder="Повторите пароль" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Зарегистрироваться" class="btn btn-primary btn-block mt-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>